In [27]:
import pandas as pd
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')
df.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [28]:
df.tail(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [31]:
wine_produced = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()
print("Sum of Wine produced in 2015 is", wine_produced['Y2015'].values[0])
print("Sum of Wine produced in 2018 is", wine_produced['Y2018'].values[0])

Sum of Wine produced in 2015 is 4251.81
Sum of Wine produced in 2018 is 4039.32

In [32]:
corr_element_code = {}
for year in df.columns[df.columns.str.startswith('Y')]:
    corr = df['Element Code'].corr(df[year])
    corr_element_code[year] = corr

min_corr_year = min(corr_element_code, key=corr_element_code.get)
min_corr_value = corr_element_code[min_corr_year]

print("Least correlation year with 'Element Code' is ", min_corr_year)

Least correlation year with 'Element Code' is  Y2016

In [42]:
total_missing_14 = df['Y2014'].isnull().sum()
total_entries_14 = df['Y2014'].shape[0]
percent_missing_14 = ((total_missing_14 / total_entries_14) * 100)
print(f"Total number of missing data in 2014 is {total_missing_14} and percentage is {'{:.3f}%'.format(percent_missing_14)}")

Total number of missing data in 2014 is 1589 and percentage is 2.607%

In [35]:
stock_var = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
max_sum_year = stock_var.idxmax(axis=1).iloc[0]
print("The year with the highest sum of Stock Variation is", max_sum_year)

The year with the highest sum of Stock Variation is Y2014

In [43]:
protein_supply_15 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
print("Protein supply quantity in Madagascar in 2015 is", round(protein_supply_15,2))

Protein supply quantity in Madagascar in 2015 is 173.05

In [44]:
y17 = df['Y2017']
mean_ = y17.mean()
std_ = y17.std()
print("Mean for 2017 is", round(mean_, 2))
print("Standard Deviation for 2017 is", round(std_, 2))

Mean for 2017 is 140.92
Standard Deviation for 2017 is 1671.86

In [38]:
data_17 = df[['Area', 'Y2017']]
sum_17 = data_17.groupby('Area')['Y2017'].sum()
area_lowest_sum_7th = sum_17.nsmallest(7).index[-1]
print("Area with the 7th lowest sum in 2017 is", area_7th_lowest_sum)

Area with the 7th lowest sum in 2017 is Guinea-Bissau

In [39]:
processing_17 = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()
print("Total sum of Processing in 2017 is", processing_2017)

Total sum of Processing in 2017 is Element
Processing    292836.0
Name: Y2017, dtype: float64

In [40]:
unique_countries = df['Area'].nunique()
print("Total number of unique countries in the dataset is", unique_countries)

Total number of unique countries in the dataset is 49

In [41]:
data_17 = df[['Area', 'Y2017']]
sum_17 = data_17.groupby('Area')['Y2017'].sum()
area_highest_sum = sum_2017.idxmax()
print("Area with the highest sum in 2017 is", area_highest_sum)

Area with the highest sum in 2017 is Nigeria